<!DOCTYPE html>

<style>
    div {
        background-color: #ccffcc;
    }

    div.gifbox {
        width: 400px;
        border: 1px solid;
    }

    div.upperhalf {
        height: 20px;
    }

    p.titlebox {
        float: left;
        margin: 0px;
    }

    p.scorebox {
        float: right;
        margin: 0px;
    }
</style>
<html>
<head>
    <title>Imgooor</title>
</head>

<body>
<div>
    <h1>
        <a href="{% url 'gifai:index' %}">Imgooor</a>
    </h1>
</div>

{% block content %}
{% endblock %}
</body>
</html>
